<a class="btn btn-info" href="/collection/add">Add new collection</a>
<a class="btn btn-danger" href="/collection/deleteall">Delete all</a>
<br><br>
<table class="table table-secondary">
   <tr>
      <th>Collection name</th>
      <th>Collection country</th>
      <th colspan="2">Menu</th>
   </tr>
   {{#each collections }}
   <tr>
      <td>
         <a href="/collection/detail/{{ _id }}">
            {{ name }}
         </a>
      </td>
      <td>{{ country }}</td>

         <td>
         <a class="btn btn-warning" href="/collection/edit/{{ _id }}">Edit</a>
      </td>
      <td>
         <a class="btn btn-danger" href="/collection/delete/{{ _id }}"
         onclick="return confirm('Are you sure to delete this collection ?');"
         >Delete</a>
      </td>
   </tr>
   {{/each}}
</table>